$accentColor: #242428;
$secColor: #f0f0f0;
$accent2Color: #ee2763;
$primColor: #181818;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: $primColor;
    color: $secColor;
    font-family: 'Montserrat', sans-serif;
}

nav {
    z-index: 10;
    height: 65px;
    width: 100vw;
    background-color: $accentColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;

    .links {
        display: flex;
        flex-direction: row;

        @media (max-width: 767px) {
            display: none;
        }
    }

    .toggle {
        @media (max-width: 767px) {
            background-color: transparent;
            height: 20px;
            width: 20px;
            border: none;
            outline: none;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .bar1, .bar2, .bar3 {
                width: 18px;
                border-radius: 20px;
                height: 1.5px;
                background-color: $secColor;
                margin-top: 4px;
                transition: 200ms ease-in;
            }

            .bar2 {
                width: 22px;
            }

            .bar3 {
                width: 14px;
            }
        }  
    }
    
    .change {
        overflow: hidden;
        transition: 200ms ease-out;
    }

    .change .bar1 {
        background-color: $accent2Color;
        width: 22px;
        height: 3px;
        transform: rotate(45deg) translate(4.5px, 3px);
    }

    .change .bar2 {
        // background-color: transparent;
        transform: translateX(-100px);
        height: 3px;

    }

    .change .bar3 {
        background-color: $accent2Color;
        width: 22px;
        height: 3px;
        transform: rotate(-45deg) translate(6.5px, -5px);
    } 
}

.nav-space {
    height: 60px;
}

.toggle {
    @media (min-width: 768px) {
        display: none;
    }
}

.header-img {
    height: 65px;
    // width: 65px;
    position: relative;
    font-family: 'Redressed', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 34px;
    color: #ef9f4f;
    
    img {
        height: inherit;
        width: inherit;
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 767px) {
        font-size: 24px;
    }
}

.nav-link span {
    color: $secColor;
    transition-duration: 200ms;
    font-size: 22px;
    font-weight: 600;
    width: 40px;
    height: 50px;
    padding: 0 15px;
    
    &:hover {
        color: $accent2Color;
    }
    text-decoration: none;
    @media (max-width: 767px) {
        padding: 0 8px;
    }
}

.nav-link a {
    text-decoration: none;
    &:hover, &:visited, &:active{
        text-decoration: none;
    }   
}

.selected-nav-link span{
    color: $accent2Color;
    text-decoration: none;
}

.nav-menu {
    height: 100vh;
    width: 100vw;
    background-color: $accentColor;
    position: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .nav-link {
        padding: 5px 20px;
        font-size: 28px;
    }

    @media (min-width: 768px) {
        width: 0;
        height: 0;
    }
}


.content-body {
    padding: 20px;
}