@font-face {
  font-family: 'Product';
  src: url("../fonts/Proxima Nova Bold.otf");
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #f9f9f9;
  color: #242428;
  font-family: 'Poppins', sans-serif;
}

nav {
  z-index: 10;
  height: 65px;
  width: 100vw;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links img {
  margin-left: 15px;
  margin-top: 5px;
  width: 25px;
  height: 25px;
  border-radius: 100px;
}

nav .links img:hover {
  background-color: rgba(239, 159, 79, 0.7);
}

@media (max-width: 767px) {
  nav .links {
    display: none;
  }
}

@media (max-width: 767px) {
  nav .toggle {
    background-color: transparent;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  nav .toggle .bar1, nav .toggle .bar2, nav .toggle .bar3 {
    width: 18px;
    border-radius: 20px;
    height: 1.5px;
    background-color: #242428;
    margin-top: 4px;
    -webkit-transition: 200ms ease-in;
    transition: 200ms ease-in;
  }
  nav .toggle .bar2 {
    width: 22px;
  }
  nav .toggle .bar3 {
    width: 14px;
  }
}

nav .change {
  overflow: hidden;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

nav .change .bar1 {
  background-color: #ef9f4f;
  width: 22px;
  height: 3px;
  -webkit-transform: rotate(45deg) translate(4.5px, 3px);
          transform: rotate(45deg) translate(4.5px, 3px);
}

nav .change .bar2 {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  height: 3px;
}

nav .change .bar3 {
  background-color: #ef9f4f;
  width: 22px;
  height: 3px;
  -webkit-transform: rotate(-45deg) translate(6.5px, -5px);
          transform: rotate(-45deg) translate(6.5px, -5px);
}

nav .placeholder-to-center {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  nav .placeholder-to-center {
    display: none;
  }
}

.nav-space {
  height: 60px;
}

@media (min-width: 768px) {
  .toggle {
    display: none;
  }
}

.header-img {
  height: 65px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: #ef9f4f;
  font-weight: 500;
}

.header-img .black-header {
  color: #242428;
  padding-right: 1px;
}

@media (max-width: 767px) {
  .header-img .black-header {
    padding-right: 1px;
  }
}

.header-img img {
  height: inherit;
  width: inherit;
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .header-img {
    font-size: 18px;
    font-weight: 600;
  }
}

.nav-link span {
  color: #242428;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font-size: 14px;
  font-weight: 600;
  width: 40px;
  height: 50px;
  padding: 0 15px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-link span:hover {
  color: #ef9f4f;
}

@media (max-width: 767px) {
  .nav-link span {
    padding: 0 8px;
    font-size: 18px;
  }
}

.nav-link a {
  text-decoration: none;
}

.nav-link a:hover, .nav-link a:visited, .nav-link a:active {
  text-decoration: none;
}

.selected-nav-link span {
  color: #ef9f4f;
  text-decoration: none;
}

.nav-menu {
  height: 100vh;
  width: 100vw;
  background-color: #f9f9f9;
  position: fixed;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .nav-link {
  padding: 5px 20px;
  font-size: 28px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .nav-menu {
    width: 0;
    height: 0;
  }
}

.content-body {
  padding: 20px;
}

@media (max-width: 375px) {
  .content-body {
    padding: 0 5px;
  }
}

.big-empty {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.big-empty .error-content {
  padding-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.big-empty .error-message {
  font-size: 16px;
  font-weight: 900;
  padding-top: 10px;
  color: #ef9f4f;
}

.home-intro {
  height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-intro .home-intro-heading {
  text-align: center;
  font-size: 30px;
  color: #242428;
  letter-spacing: .5px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .home-intro .home-intro-heading {
    font-size: 16px;
    text-align: start;
  }
}

.home-intro .home-intro-body {
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  color: #242428;
}

@media (max-width: 767px) {
  .home-intro .home-intro-body {
    font-size: 14px;
    padding-top: 15px;
    text-align: start;
  }
}

.home-intro .home-intro-instruction {
  color: #ef9f4f;
}

@media (max-width: 767px) {
  .home-intro .home-intro-instruction {
    font-size: 14px;
    text-align: start;
  }
}

@media (max-width: 767px) {
  .home-intro {
    height: 20vh;
    padding: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.art {
  width: 100%;
  padding: 40px;
}

@media (max-width: 576px) {
  .art {
    padding: 0;
  }
}

.art-post {
  border-radius: 4px;
  float: left;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .art-post {
    width: 20%;
    height: 280px;
  }
}

@media (max-width: 1199px) {
  .art-post {
    width: 25%;
    height: 250px;
  }
}

@media (max-width: 767px) {
  .art-post {
    width: 33.33%;
    height: 200px;
  }
}

@media (max-width: 576px) {
  .art-post {
    width: 33.33;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.art-post .art-image {
  -webkit-transition: 400ms ease-out;
  transition: 400ms ease-out;
  padding: 2px;
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.art-post .img-data-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2px;
  z-index: 1;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.art-post .img-data-bg:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.art-post .img-data-bg .img-data {
  padding: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #f0f0f0;
  font-size: 16px;
}

.input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input #search-text {
  width: 50%;
  height: 50px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 20px;
  background-color: #f0f0f0;
}

@media (max-width: 767px) {
  .input #search-text {
    width: 100%;
  }
}

.search-button {
  padding-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-button button {
  background-color: #ef9f4f;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 100px;
  color: #f9f9f9;
  cursor: pointer;
}

.found-art {
  margin: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

@media (max-width: 767px) {
  .found-art {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.found-art .art-image {
  -webkit-transition: 400ms ease-out;
  transition: 400ms ease-out;
  padding: 4px;
  height: 60vh;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

@media (max-width: 767px) {
  .found-art .art-image {
    width: 100%;
  }
}

.found-art div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .found-art div {
    width: 100%;
    padding: 20px;
  }
}

.found-art div .art-name {
  width: 75%;
  font-size: 30px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .found-art div .art-name {
    width: 100%;
    padding: 20px;
  }
}

.found-art div .art-about {
  padding-top: 10px;
  width: 75%;
  font-size: 16px;
}

@media (max-width: 767px) {
  .found-art div .art-about {
    width: 100%;
    padding: 20px;
  }
}

.found-art div .art-rating {
  padding-top: 10px;
  font-size: 24px;
  color: #ef9f4f;
}

.found-art div .art-price {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 900;
}

.found-art div .art-buttons {
  padding-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.found-art div .art-button-space {
  width: 20px;
}

@media (max-width: 767px) {
  .found-art div .art-button-space {
    width: 10px;
  }
}

.found-art div .art-view, .found-art div .art-buy {
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 100px;
  font-size: 16px;
  border: 2px solid #ef9f4f;
  text-decoration: none;
}

.found-art div .art-view {
  background-color: #f9f9f9;
  color: #ef9f4f;
}

.found-art div .art-view:hover {
  background-color: #ef9f4f;
  color: #f9f9f9;
}

.found-art div .art-buy {
  background-color: #ef9f4f;
  color: #f9f9f9;
}

.found-art div .art-buy:hover {
  background-color: #f9f9f9;
  color: #ef9f4f;
}

.view-art {
  width: 100vw;
}

.jumbo {
  width: 100%;
  height: 35vh;
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
}

.jumbo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 30%;
     object-position: 0 30%;
}

@media (max-width: 767px) {
  .jumbo img {
    display: none;
  }
}

.jumbo .image-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

@media (max-width: 767px) {
  .jumbo .image-mask {
    display: none;
  }
}

.jumbo .image-dp {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 240px;
  height: 240px;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.jumbo .image-dp img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 767px) {
  .jumbo {
    height: 20px;
  }
}

.profile-card-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile-card-holder .profile-login {
  margin: 0 auto;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  padding: 8px 12px;
}

.profile-card-holder .profile-login span {
  font-weight: 900;
  font-size: 20px;
}

.profile-card-holder .profile-login .login-form {
  border: 0.1px solid #242428;
  margin-top: 20px;
  border-radius: 8px;
  padding: 0px 12px 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-card-holder .profile-login .login-form span {
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 4px;
  font-size: 18px;
}

.profile-card-holder .profile-login .login-form input {
  border: none;
  background-color: #f0f0f0;
  padding: 8px 12px;
  border-radius: 8px;
  outline: none;
  font-weight: 500;
  font-family: 'Poppins';
}

.profile-card-holder .profile-login .login-form button {
  border: none;
  margin-top: 24px;
  padding: 10px 12px;
  border-radius: 8px;
  outline: none;
  font-weight: 700;
  font-family: 'Poppins';
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7a11f), to(#ef9f4f));
  background-image: linear-gradient(to bottom, #e7a11f, #ef9f4f);
}

.profile-card-holder .profile-login .register {
  margin-top: 10px;
  border: 0.1px solid #f0f0f0;
  padding: 20px;
  font-size: 14px;
}

.profile-card-holder .profile-login .register span {
  font-size: 14px;
  font-weight: 500;
  color: #ef9f4f;
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.profile-card-holder .profile-login .register span:hover {
  color: #000;
}

.profile-card-holder .profile-card {
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid #e7a11f;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.profile-card-holder .profile-card .user-heading h1 {
  font-size: 48px;
  color: #242428;
}

@media (max-width: 767px) {
  .profile-card-holder .profile-card .user-heading h1 {
    font-size: 40px;
  }
}

.profile-card-holder .profile-card .user-heading h2 {
  margin-top: -8px;
}

.profile-card-holder .profile-card .user-detail span {
  font-weight: 700;
}

.profile-card-holder .profile-card .user-detail h3 {
  font-size: 14px;
  color: #48484d;
}

.profile-card-holder .profile-card .user-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.profile-card-holder .profile-card button {
  border: none;
  outline: none;
  background-color: #f0f0f0;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 700;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.profile-card-holder .profile-card button:hover {
  background-color: #f9f9f9;
  color: #e7a11f;
}

.profile-card-holder .profile-card .logout {
  color: #ff2020;
}

.profile-card-holder .profile-card .logout:hover {
  background-color: #f9f9f9;
  color: #ff2020;
}

@media (max-width: 767px) {
  .profile-card-holder .profile-card {
    width: 100%;
    margin-top: 12px;
  }
}

.profile-card-holder .register-user .profile-register {
  border: 0.1px solid #48484d;
  border-radius: 4px;
  padding: 20px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile-card-holder .register-user .profile-register .user-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f0f0f0;
}

.profile-card-holder .register-user .profile-register .user-type button {
  background-color: #f0f0f0;
  width: 50%;
  border: none;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  font-family: 'Poppins';
  cursor: pointer;
}

.profile-card-holder .register-user .profile-register .user-type .selected {
  background-color: #ef9f4f;
}

.profile-card-holder .register-user .profile-register span {
  font-size: 14px;
  padding-top: 12px;
}

.profile-card-holder .register-user .profile-register .register-message {
  font-size: 14px;
  padding-top: 0px;
}

.profile-card-holder .register-user .profile-register .register-head {
  font-weight: 900;
  font-size: 20px;
  padding: 0;
}

.profile-card-holder .register-user .profile-register hr {
  width: 100%;
  margin: 10px 0;
}

.profile-card-holder .register-user .profile-register .user-detail {
  font-size: 18px;
  font-weight: 500;
  padding-top: 8px;
}

.profile-card-holder .register-user .profile-register input {
  border: none;
  background-color: #f0f0f0;
  width: 100%;
  padding: 4px 12px;
  border-radius: 4px;
  outline: none;
  font-weight: 500;
  font-family: 'Poppins';
}

.profile-card-holder .register-user .profile-register .register-button {
  border: none;
  width: 100%;
  margin-top: 24px;
  padding: 10px 12px;
  border-radius: 8px;
  outline: none;
  font-weight: 700;
  font-family: 'Poppins';
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7a11f), to(#ef9f4f));
  background-image: linear-gradient(to bottom, #e7a11f, #ef9f4f);
}

.profile-card-holder .register-user .register {
  border: 0.1px solid #f0f0f0;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-card-holder .register-user .register span {
  font-size: 14px;
  font-weight: 700;
  color: #ef9f4f;
  cursor: pointer;
  text-decoration: underline;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.profile-card-holder .register-user .register span:hover {
  color: #000;
}

.profile-card-holder .register-user .register h3 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-align: start;
}

.profile-card-holder .register-user .register ul {
  padding-top: 12px;
}

.profile-card-holder .register-user .register ul li {
  padding-top: 8px;
  text-align: start;
  color: #ef9f4f;
  font-weight: 700;
}

@media (max-width: 767px) {
  .profile-card-holder .register-user .register {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .profile-card-holder .register-user .place {
    width: 20px;
  }
}

@media (min-width: 768px) {
  .profile-card-holder .register-user {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .profile-card-holder .register-user {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .profile-card-holder .register-user .hide-mobile {
    display: none;
  }
}

.profile-card-holder .orders-list {
  width: 50%;
  padding: 20px;
}

.profile-card-holder .orders-list h2 {
  margin-bottom: 12px;
}

.profile-card-holder .orders-list div {
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 5px 0.1px rgba(72, 72, 77, 0.1);
          box-shadow: 1px 1px 5px 0.1px rgba(72, 72, 77, 0.1);
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-card-holder .orders-list div h3 {
  font-size: 16px;
  color: #ef9f4f;
}

.profile-card-holder .orders-list div span {
  width: 100%;
  font-size: 14px;
}

@media (max-width: 767px) {
  .profile-card-holder .orders-list {
    width: 100%;
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .profile-card-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
}

.error-message {
  margin: 8px auto;
  background-color: #ff23233a;
  width: 100%;
  padding: 8px;
  font-size: 15px;
  text-align: center;
  border: 0.1px solid #ff5757;
  color: #ff2020;
  font-weight: 500;
}

.buy-art {
  margin: 30px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
}

@media (max-width: 767px) {
  .buy-art {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.buy-art .art-image {
  -webkit-transition: 400ms ease-out;
  transition: 400ms ease-out;
  padding: 4px;
  height: 200px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

@media (max-width: 767px) {
  .buy-art .art-image {
    width: 100%;
    height: 60vh;
  }
}

.buy-art div {
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .buy-art div {
    width: 100%;
    padding: 20px;
  }
}

.buy-art div .art-name {
  width: 75%;
  font-size: 20px;
  font-weight: 900;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .buy-art div .art-name {
    width: 100%;
    padding: 20px;
  }
}

.buy-art div .art-about {
  padding-top: 10px;
  width: 75%;
  font-size: 14px;
}

@media (max-width: 767px) {
  .buy-art div .art-about {
    width: 100%;
    padding: 20px;
  }
}

.buy-art div .art-rating {
  padding-top: 10px;
  font-size: 14px;
  color: #ef9f4f;
}

.buy-art div .art-price {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 900;
}

.buy-art div .art-buttons {
  padding-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.buy-art div .art-button-space {
  width: 20px;
}

@media (max-width: 767px) {
  .buy-art div .art-button-space {
    width: 10px;
  }
}

.buy-art div .art-view, .buy-art div .art-buy {
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 100px;
  font-size: 16px;
  border: 2px solid #ef9f4f;
  text-decoration: none;
}

.buy-art div .art-view {
  background-color: #f9f9f9;
  color: #ef9f4f;
}

.buy-art div .art-view:hover {
  background-color: #ef9f4f;
  color: #f9f9f9;
}

.buy-art div .art-buy {
  background-color: #ef9f4f;
  color: #f9f9f9;
}

.buy-art div .art-buy:hover {
  background-color: #f9f9f9;
  color: #ef9f4f;
}

.buy-input {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buy-input h2 {
  margin-bottom: 8px;
}

.buy-input input {
  border: none;
  background-color: #f0f0f0;
  padding: 8px 12px;
  border-radius: 8px;
  outline: none;
  font-weight: 500;
  width: 50%;
  font-family: 'Poppins';
}

@media (max-width: 767px) {
  .buy-input input {
    width: 100%;
  }
}

.buy-input .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.buy-input .button {
  width: 120px;
  border: none;
  margin-top: 24px;
  padding: 10px 12px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-weight: 700;
  font-family: 'Poppins';
  cursor: pointer;
  background-color: #ef9f4f;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  color: #242428;
}

.buy-input .button:hover {
  background-image: none;
  background-color: #f9f9f9;
  color: #ef9f4f;
}

.buy-input .art-button-space {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=App.css.map */