@font-face {
  font-family: 'Product';
  src: url("../fonts/Product Sans Regular.ttf");
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #f9f9f9;
  color: #242428;
  font-family: 'Product', sans-serif;
}

nav {
  z-index: 10;
  height: 65px;
  width: 100vw;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  nav .links {
    display: none;
  }
}

@media (max-width: 767px) {
  nav .toggle {
    background-color: transparent;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  nav .toggle .bar1, nav .toggle .bar2, nav .toggle .bar3 {
    width: 18px;
    border-radius: 20px;
    height: 1.5px;
    background-color: #242428;
    margin-top: 4px;
    -webkit-transition: 200ms ease-in;
    transition: 200ms ease-in;
  }
  nav .toggle .bar2 {
    width: 22px;
  }
  nav .toggle .bar3 {
    width: 14px;
  }
}

nav .change {
  overflow: hidden;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

nav .change .bar1 {
  background-color: #ef9f4f;
  width: 22px;
  height: 3px;
  -webkit-transform: rotate(45deg) translate(4.5px, 3px);
          transform: rotate(45deg) translate(4.5px, 3px);
}

nav .change .bar2 {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  height: 3px;
}

nav .change .bar3 {
  background-color: #ef9f4f;
  width: 22px;
  height: 3px;
  -webkit-transform: rotate(-45deg) translate(6.5px, -5px);
          transform: rotate(-45deg) translate(6.5px, -5px);
}

nav .placeholder-to-center {
  width: 20px;
  height: 20px;
}

@media (min-width: 767px) {
  nav .placeholder-to-center {
    display: none;
  }
}

.nav-space {
  height: 60px;
}

@media (min-width: 768px) {
  .toggle {
    display: none;
  }
}

.header-img {
  height: 65px;
  position: relative;
  font-family: 'Product', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: 900;
  color: #ef9f4f;
  letter-spacing: 1px;
}

.header-img .black-header {
  color: #242428;
  padding-right: 5px;
}

@media (max-width: 767px) {
  .header-img .black-header {
    padding-right: 1px;
  }
}

.header-img img {
  height: inherit;
  width: inherit;
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .header-img {
    font-size: 18px;
    letter-spacing: .5px;
    font-weight: 600;
  }
}

.nav-link span {
  color: #242428;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  font-size: 14px;
  font-weight: 600;
  width: 40px;
  height: 50px;
  padding: 0 15px;
  font-family: 'Product';
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-link span:hover {
  color: #ef9f4f;
}

@media (max-width: 767px) {
  .nav-link span {
    padding: 0 8px;
    font-size: 18px;
  }
}

.nav-link a {
  text-decoration: none;
}

.nav-link a:hover, .nav-link a:visited, .nav-link a:active {
  text-decoration: none;
}

.selected-nav-link span {
  color: #ef9f4f;
  text-decoration: none;
}

.nav-menu {
  height: 100vh;
  width: 100vw;
  background-color: #f9f9f9;
  position: fixed;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav-menu .nav-link {
  padding: 5px 20px;
  font-size: 28px;
}

@media (min-width: 768px) {
  .nav-menu {
    width: 0;
    height: 0;
  }
}

.content-body {
  padding: 20px;
}

@media (max-width: 375px) {
  .content-body {
    padding: 0 5px;
  }
}

.big-empty {
  width: 100%;
  text-align: center;
}

.home-intro {
  height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-intro .home-intro-heading {
  text-align: center;
  font-size: 30px;
  color: #242428;
  letter-spacing: 1px;
  font-family: 'Product', sans-serif;
  font-weight: 900;
}

@media (max-width: 767px) {
  .home-intro .home-intro-heading {
    font-size: 18px;
  }
}

.home-intro .home-intro-body {
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  color: #242428;
  font-family: 'Product', sans-serif;
}

.home-intro .home-intro-instruction {
  color: #ef9f4f;
}

@media (max-width: 767px) {
  .home-intro {
    height: 20vh;
    padding: 10px;
  }
}

.art {
  width: 100%;
  padding: 40px;
}

@media (max-width: 375px) {
  .art {
    padding: 0;
  }
}

.art-post {
  border-radius: 4px;
  float: left;
  position: relative;
  overflow: hidden;
}

@media (min-width: 901px) {
  .art-post {
    width: 20%;
    height: 280px;
  }
}

@media (max-width: 900px) {
  .art-post {
    width: 25%;
    height: 250px;
  }
}

@media (max-width: 767px) {
  .art-post {
    width: 33.33%;
    height: 200px;
  }
}

@media (max-width: 375px) {
  .art-post {
    width: 120px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.art-post .art-image {
  -webkit-transition: 400ms ease-out;
  transition: 400ms ease-out;
  padding: 2px;
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.art-post .img-data-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2px;
  z-index: 1;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.art-post .img-data-bg:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.art-post .img-data-bg .img-data {
  padding: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #f0f0f0;
  font-family: 'Product';
  font-size: 16px;
}

.input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input #search-text {
  width: 50%;
  height: 50px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 20px;
  background-color: #f0f0f0;
}

@media (max-width: 767px) {
  .input #search-text {
    width: 100%;
  }
}

.search-button {
  padding-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-button button {
  background-color: #ef9f4f;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 100px;
  color: #f9f9f9;
  cursor: pointer;
}

.found-art {
  margin-top: 30px;
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

.found-art .art-image {
  -webkit-transition: 400ms ease-out;
  transition: 400ms ease-out;
  padding: 2px;
  height: 100%;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.found-art div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.found-art div .art-name {
  width: 75%;
  font-size: 30px;
  font-weight: 900;
}

.found-art div .art-about {
  padding-top: 10px;
  width: 75%;
  font-size: 16px;
}

.found-art div .art-rating {
  padding-top: 10px;
  font-size: 24px;
  color: #ef9f4f;
}

.found-art div .art-price {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 900;
}
/*# sourceMappingURL=App.css.map */